{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <div class="col-sm">

            <h3>Latest questions list</h3>
            {% if latest_question_list %}
                <ul>
                {% for question in latest_question_list %}
                    <li>
                        <a href="{% url 'qa:question_detail' question.id %}">{{ question.title }}</a>
                        {{ question.created }}
                        {{ question.display_tags }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No questions are available.</p>
            {% endif %}
        </div>
        <div class="col-sm-2">
            <h5>Hasker users activity</h5>
            <ul>
                <li><strong>Questions:</strong> {{ num_questions }}</li>
                <li><strong>Answers:</strong> {{ num_answers }}</li>
                <li><strong>Tags:</strong> {{ num_tags }}</li>
                <li><strong>Users:</strong> {{ num_users }}</li>
            </ul>
            <p>
                You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
            </p>
        </div>
    </div>
</div>
{% endblock %}


{% comment %} {% block content %}
  <h2>Hasker Q&A home</h2>
  <p>
    Welcome to Hasker, a website developed as
    <em>a homework for Otus Python course</em>!
  </p>
  <h3>Hasker users activity</h3>
  <ul>
    <li><strong>Questions:</strong> {{ num_questions }}</li>
    <li><strong>Answers:</strong> {{ num_answers }}</li>
    <li><strong>Tags:</strong> {{ num_tags }}</li>
    <li><strong>Users:</strong> {{ num_users }}</li>
  </ul>
  <h3>Latest questions list</h3>
  {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'qa:question_detail' question.id %}">{{ question.title }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No questions are available.</p>
  {% endif %}
{% endblock %} {% endcomment %}


{% comment %} {% load static %}

<link rel="stylesheet" href="{% static 'qa/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'qa:question_detail' question.id %}">{{ question.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}
<body></body> {% endcomment %}