{% extends "base/generic.html" %}

{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <div class="col-sm">

            <h3>{{ title }}</h3>
            {% if questions %}
                <ul>
                {% for question in questions %}
                    <li>
                        <a href="{% url 'qa:question_detail' question.id %}">
                            {{ question.title|truncatewords:10 }}
                        </a>
                        {{ question.created }}
                        {% for tag in question.tags.all %}
                            <a href="{% url 'qa:tag_detail' tag.tag_text %}">{{ tag.tag_text }}</a>
                        {% endfor %}
                    </li>
                {% endfor %}
                </ul>
                {% include "base/paginator.html" with page_obj=page_obj %}
            {% else %}
                <p>No questions are available.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

